@font-face {
  font-family: "Athanasius";
  src: url("../fonts/Athanasius.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
}

.coptic {
  font-family: "Athanasius";
  direction: ltr;
}
